body {
    background: rgb(255, 255, 255);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
  }
.container{
  background: rgb(34,193,195), 50%;  
  margin-left: 400px;
  margin-right:400px;
  padding:30x;
}

.container:hover {
  background: rgb(25, 141, 143);
  background: linear-gradient(0deg, rgb(25, 141, 143) 50%, rgba(45,253,167,1) 100%);
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
  animation-name: bounce;
  animation-timing-function: ease;
  transform: translateY(-10px); 
}

@keyframes bounce {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-10px); } 
  100% { transform: translateY(0); }
}


.form-label {
    color: #000000;
    font-style: italic;
}
.enviar{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 150px;
  margin-right: 150px;
  background-color: rgb(159, 173, 187);
  border-radius: 10px;
  padding: 3px;
}
.boton{
  margin-bottom: 10px;
  margin-left:200px;
  margin-right: 200px;
  width: 10%;
  margin-left: 15%;
  background-color: rgb(156, 165, 173);
  border-radius: 10px;
  padding: 3px;
  
}